# Created by .ignore support plugin (hsz.mobi)
# Project exclude paths
/.gradle/

# custom added
.gradle
.idea
.build

/build/

generated

application-oauth.properties
application-google.properties
application-oauth.yml